.article:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}
.article-body {
    text-overflow: ellipsis;
    background-color: rgb(17, 16, 16);
}
.article {
    margin-top: 50px;
    height: 150px;
    width: 1200px;
    flex: 0 1 24%;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
}