
<div class="row" *ngIf="post">
    <div class="header">
        <h1>{{post.title}}</h1>
    </div>
    <!-- <strong>Writer: {{this.username}}</strong> -->
    <div class="col-4">
        <img src="{{'./assets/dotnet.png'}}" class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Description</strong>
                <p>{{post.desc}}</p>
            </div>
        </div>

        <div class="card-footer">
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Like</button>
                <button *ngIf="isEditable == true" class="btn btn-info" routerLink="/posts/{{post.id}}/edit">Edit</button> 
                <button *ngIf="isEditable == true" class="btn btn-danger" (click)="onRouteToLinkPost">Delete</button> 
                <button class="btn btn-success" (click)="onRouteToLinkPost()">Link for Post</button>
            </div>
        </div>
    </div>
</div>