
<div class="row" style="text-align: center;"  *ngIf="post">
    <div class="header">
        <h1>{{post.title}}</h1>
    </div>
    <div style="text-align: center;">
        <img src="{{'./assets/dotnet.png'}}" style="width: 500px;">
        <br><br><br><br>
        <div class="card-body" style="text-align: left;">
            <div>
                <p>{{post.desc}}</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="col-4">
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Like</button>
                <button *ngIf="isEditable == true" class="btn btn-info" routerLink="/posts/{{post.id}}/edit">Edit</button> 
                <button *ngIf="isEditable == true" class="btn btn-danger" (click)="onRouteToLinkPost">Delete</button> 
                <button class="btn btn-success" (click)="onRouteToLinkPost()">Link for Post</button>
            </div>
        </div>
    </div>
</div>