@page "/users/Login"
@inject IAuthService authService
@inject NavigationManager navManager
@using KevBlog.WebClient.Services
<div class="container-xxl py-4">
    <h3>Sign In</h3>
    <div class="card-body">
        <EditForm Model="LoginDtoModel" OnValidSubmit="HandleSignIn">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="email">UserName</label>
                <InputText class="form-control" @bind-Value="LoginDtoModel.UserName" />
                <ValidationMessage For="@(() => LoginDtoModel.UserName)" />
            </div>
            <div class="form-group">
                <label for="text">Password</label>
                <InputText class="form-control" type="password" @bind-Value="LoginDtoModel.Password" />
                <ValidationMessage For="@(() => LoginDtoModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </EditForm>
    </div>
</div>



@code {
    public string? _errorMsg;

    LoginDto LoginDtoModel = new LoginDto();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task HandleSignIn()
    {
        UserDto user = await authService.AuthenAsync(LoginDtoModel);
        if (string.IsNullOrEmpty(user.Token))
        {
            navManager.NavigateTo("/users/login");
        }
        else
        {
            navManager.NavigateTo("/");
        }
    }
}
