.bg {
    height: 100%;
    background-image: url('/assets/searching_for_stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 3000px;
}