<div class="container mt-5">

    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>GG EZ PROGRAMMING</h1>
        <p class="lead">Little by little, a little becomes a lot</p>
    </div>
    <div *ngIf="registerMode" class="container" >
        <div class="row justify-conter-center">
            <div class="col-4" >
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

    <div>
        <div class="col-4"  *ngFor="let post of posts">
            <app-post-article [post]="post"></app-post-article>
        </div>
    </div>
</div>