.card:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    /* opacity: 0.7; */
}
.card {
    margin-top: 50px;
    margin-bottom: 250px;
    height: 250px;
    flex: 0 1 24%;
    border:none; 
    box-shadow: 0px 20px 50px -10px rgba(209, 217, 238, 0.5);
}
.card-body {
    text-overflow: ellipsis;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}