<div class="card mb-4" *ngIf="post">
    <div class="card-img-wrapper">
        <img src="{{'./assets/user.png'}}" alt="{{post.title}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/posts/{{post.id}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user me-2">
                {{post.content}}
            </i>
        </h6>
    </div>
</div>