<div class="row" *ngIf="post">

    <div class="col-8">
        <div>
            <div>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePost()">
                    <input type="text" name="title" required [(ngModel)]="post.title" class="form-control input-sm" placeholder="Post Title">
                    <h4 class="mt-2">Description</h4>
                    <textarea name="desc" rows="6" class="form-control" [(ngModel)]="post.desc"></textarea>
                    <div class="input-group mt-2">
                        <label class="col-form-label me-2">linkForPost:</label>
                        <input type="text" name="linkForPost" required [(ngModel)]="post.linkForPost" class="form-control input-sm" placeholder="Link for Post">
                    </div>
                    <div class="d-flex mt-2">
                        <label class="col-form-label me-2">Type:</label>
                        <select name="type" style="width:150px" class="form-select ms-1" [(ngModel)]="post.type">
                            <option *ngFor="let type of typeList" [value]="type.value">{{type.display}}</option>
                        </select>
                    </div>
                    <!-- <h4 class="mt-2">Contents</h4>
                    <textarea name="content" rows="6" class="form-control" [(ngModel)]="post.content"></textarea> -->
                </form>
                <div>
                    <button class="btn btn-primary" (click)="onAddPostTag()">Tag Update</button>
                </div>
                <div>
                    <strong>Last Changed: {{post.lastUpdated + 'Z' | timeago}},  </strong>
                    <strong>Published: {{post.created | date: 'dd MMM yyyy'}}</strong>
                </div>
                <div>

                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm" form="editForm" class="btn btn-success col-12">Save Changes</button>
            </div>
        </div>
    </div>
</div>