
@if(Posts is not null)
{
    @foreach (var post in Posts)
    {
        <PostCard Post="@post"></PostCard>
    }
}
else
{
    <p>Waiting for loading...</p>

}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<PostDisplayDto> Posts { get; set; }
}
