@if (Posts is not null)
{
    <div class="d-flex flex-column align-items-center">
        @foreach (var post in Posts)
        {
            <PostCard Post="@post"></PostCard>
        }
    </div>
}
else
{
    <p>Waiting for loading...</p>

}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<PostDisplayDto> Posts { get; set; }
}
