@using HBlog.Contract.DTOs

@if(Post is not null)
{
    <div class="mb-3 d-flex card p-2">
        <div>
            <h4 class="font-weight-bold bg-body-secondary p-3">
                <a class="text-dark" href="posts/@Post.Id">@Post.Title</a>
            </h4>
            <p class="p-1">
                @Post.Desc
            </p>
            <div class="border-top border-3">
                <small class="text-muted small">@Post.Created.ToString("MMM dd yyyy")</small>

            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>

}


@code {
    [Parameter]
    public PostDisplayDto? Post { get; set; }
}
