@using HBlog.Contract.DTOs

@if(Post is not null)
{
    <div class="mb-3 card p-2 col-6">
        <div>
            <h4 class="font-weight-bold bg-body-secondary p-3">
                <a class="text-dark" href="posts/@Post.Id">@Post.Title</a>
            </h4>
            <p class="p-1">
                @Post.Desc
            </p>
            <div class="border-top border-3 d-flex justify-content-between">
                <small class="text-muted small">@Post.Created.ToString("MMM dd yyyy")</small>
                <div class="tag-list">
                    @if (Post.Tags is not null)
                    {
                        foreach (var tag in Post.Tags)
                        {
                            <small class="small hp-badge hp-badge-grey">@tag.Name</small>
                        }
                    }
                </div>
              
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>

}


@code {
    [Parameter]
    public PostDisplayDto? Post { get; set; }
}
