<!-- <p *ngFor="let message of messages">{{message.content}}</p> -->
<div class="card">
    <div class="body">
        <div *ngIf="messages.length === 0">
            No messages Yet.
        </div>

        <ul *ngIf="messages.length >0" class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}" alt="imge of user">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username">(unread)</span>
                                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username">(read{{message.dateRead}})</span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form>
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Send a private message">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>