@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <TopNavMenu />
    <main class="flex-grow-1">
        @Body
    </main>
    <footer class="flex-shrink-0">
        <Footer />
    </footer>
</div>
