@using KevBlog.Contract.DTOs

@if(Post is not null)
{
    <div class="mb-3 d-flex justify-content-between">
        <div class="pr-3">
            <h2 class="mb-1 h4 font-weight-bold">
                <a class="text-dark" href="posts/@Post.Id">@Post.Title</a>
            </h2>
            <p>
                @Post.Desc
            </p>
            <div class="card-text text-muted small">
                @Post.UserName in <a title="Category Posts">Testing</a>
            </div>
            <small class="text-muted">@Post.Created.ToString("MMM dd yyyy")</small>
        </div>
    </div>
}
else
{
    <p>Loading...</p>

}


@code {
    [Parameter]
    public PostDisplayDto? Post { get; set; }
}
