<h4>Internal server Error - Refreshing the page will make the error disappear.</h4>

<ng-container *ngIf="error">
    <h5 class="text-danger">Error : {{error.message}}</h5>
    <p class="font-weight-bold">Note: Angular is probably not to blame. Please check server Side.</p>
    <p>Checklist</p>
    <ol>
        <li>Open chrome dev tools and check the request in the nextwork tab.</li>
        <li>Examine the request URL - whwat API endpoint are you requesting?</li>
    </ol>

    <p style="font-weight: bold;">Following is the stack trace.</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error}}
    </code>
</ng-container>