@page "/posts/edit/{PostId:int?}"
@using KevBlog.WebClient.Services
@using Microsoft.AspNetCore.Authorization
@inject IPostService postService
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]
<div class="container-xxl py-4">
    <h3>Edit Post</h3>
    <div class="card-body">
        <EditForm Model="postView" OnValidSubmit="UpdatePost">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="title">Post Title</label>
                <InputText class="form-control" @bind-Value="postView.Title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <InputText class="form-control" @bind-Value="postView.Desc" />
            </div>
            <div class="form-group">
                <label for="type">Post Type</label>
                <InputText class="form-control" @bind-Value="postView.Type" />
            </div>
            <div class="form-group">
                <label for="Content">Content</label>
                <InputTextArea class="form-control" @bind-Value="postView.Content" />
            </div>

            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </EditForm>
    </div>
</div>

@code {
    public PostDisplayDetailsDto postView { get; set; } = new();

    [Parameter]
    public int? PostId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        postView = await postService.GetPostDetails(PostId.Value);
    }

    private async Task UpdatePost()
    {
        var authState = await AuthState;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            PostUpdateDto postUpdateDto = new PostUpdateDto
                {
                    Id = postView.Id,
                    Title = postView.Title,
                    Desc = postView.Desc,
                    Content = postView.Content,
                    Type = postView.Type,
                    LinkForPost = postView.LinkForPost ?? string.Empty,
                };
            var result = await postService.UpdatePost(postUpdateDto);
            if (result)
                navManager.NavigateTo($"/posts/{postUpdateDto.Id}");
        }

    }
}
