<h3>Post</h3>

@code {
    // private PostDisplayDto[] _relatedPosts = [];

    [Inject]
    NavigationManager NavigationManager { get; set; }

    // [Inject]
    // IPostService PostService { get; set; }

}
