<div>
    <form #createPostForm="ngForm" (ngSubmit)="createPosts()" autocomplete="off">
        <h2 class="text-primary ">Creating new post</h2>
        <hr>
        <div class="col-6">
            <div class="mb-4">
                <input type="text" class="form-control" name="title" [(ngModel)]="model.title" placeholder="Title">
            </div>
            <textarea name="desc" rows="4" cols="65" class="form-control mb-4" [(ngModel)]="model.desc" placeholder="Description">
            </textarea>
            <div class="mb-4">
                <input type="text" class="form-control" name="type" [(ngModel)]="model.type" placeholder="Type">
            </div>
            <div class="mb-4">
                <input type="text" class="form-control" name="type" [(ngModel)]="model.linkForPost" placeholder="Link For post">
            </div>
            <div class="text-left">
                <button class="btn btn-success me-2" type="submit">Create Post</button>
            </div>
        </div>
    </form>
</div>